
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
    font-size: 20px;
}


.header{
    background-image: url('./Images/backgound.PNG');
    background-repeat: no-repeat;
    background-size: 100%;

    
    color: black;
    padding:10px, 10%;
    display: flex;
    justify-content:first baseline;
    align-items: center;
    height: 130px;
}


.header .logo img{
    height: 170px;
    width: auto;
    transition: all 0.3s;
}
.header .logo img:hover{
    transform: scale(1.2);
}


.header:visited{
    color:rgb(12, 11, 12);
}
.header:active{
    background-color:rgba(5, 2, 2, 0.445);
}
.header .nav-links{
    display: inline-block;
    padding: 0 20px;
    font-size: 700;
    text-decoration: none;
    color: rgb(80, 29, 60);
}
.header .nav-links .img{
    height: 10px;
    width: 10px;
}
.header .nav-links:hover{
    transform: scale(1.1);
}

/* barra navegación - desplegable de trabajos:*/

.header .dropdown {
    position: relative;
    display: inline-block;
}

.header .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8c1e3;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.header .dropdown:hover .dropdown-content {
    display: block;
}

.header .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.header .dropdown-content a:hover {
    background-color: #fbf2fc;
}




body{
    background-color: #f8f3fa;

}
footer{
    background-image: url('./Images/backgound.PNG');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    margin: 0% auto;
    padding: 2%;
}

/* Footer*/
.firma{
    
    font-family: 'Signika', sans-serif;
        font-size: 15px;
        text-align: center;
    }
.firma2 {
    text-align: right;
    font-size: 12px;
    padding: 1%;
}

    
/* cajas del index*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items:flex-start;
    padding: 5%;
    
  }
  
  .box {
    width: calc(50% - 2%); 
    height: auto;
    margin-bottom: 5%;
    border: 1.5px solid #08000088;
    padding: 2%;
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  

  
  
  .box img {
    width: auto;
    height: 250px;
    object-fit: cover;
    margin-bottom: 30px;
  }
  .box .foto2{
    width: auto;
    height: 400px;
    object-fit: cover;
    margin-bottom: 30px;
  }

  .box .foto3{
    width: auto;
    height: auto;
    object-fit: cover;
    margin-bottom: 30px;
  }
  
 
  .box ul {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .box p{
    font-size: 18px;
  }

  .box ul li {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .box a{
    text-align: center;
  }
  .btn-presupuesto {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f09cbc;
    color: #030002;
    text-decoration: none;
    border-radius: 4px;
    transition: transform 0.3s;
  }
  
  .btn-presupuesto:hover {
    transform: scale(1.08);
  }
  

   /*trabajos */


.layout-container{
    display: flex;
    flex-direction: column;
   }

.domicilio{
    display: flex;
    justify-content: space-evenly;
    padding: 6% 10% 5% 10%;
    width: 100%;
}

.artistico{
    display: flex;
    justify-content: space-evenly;
    padding: 6% 10% 5% 10%;
    width: 100%;
}

.descripción{
    text-align: justify;
    padding: 0% 10% 0% 10%;
    margin: auto;
}
.progresión{
    display: flex;
    justify-content: space-evenly;
    padding: 6% 10% 5% 10%;
}
.teatro{
    display: flex;
    justify-content: space-evenly;
    padding: 6% 10% 5% 10%;
    width: 100%;
}

.producción{
    display: flex;
    justify-content: space-evenly;
    padding: 6% 10% 5% 10%;
}

.fieras{
    display: flex;
    justify-content: space-evenly;
    padding: 6% 10% 8% 10%;
}

.carousel {
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  padding-left: 80px;
  transition: transform 0.5s ease-in-out;
}

.slider-item{
    width: 350px;
    height: 350px;
    display: none;
    cursor:pointer;

}
.slider-item:hover{
    transform: scale(1.3);
}

.botón{
    background-color: white;
    border: 0px;
    float: right;
}

.botón:hover{
    transform: scale(1.1);
}

.next{
    width: 25px;
    height: auto;
}

.carousel-inner img.active {
  display: block;
}



/* grid de página SObre MI*/


.grid-layout{

    display: grid;
    grid-template-areas: 'encabezado encabezado'
                        'sobre foto';
    grid-template-columns: 2fr 1fr;
}

.encabezado{
    grid-area: encabezado;
    padding: 70px;
    text-align: center;
}

.sobre-mi{
grid-area: sobre;
padding: 5%;
text-align:left;
}
.foto{
    grid-area: foto;
    display: flex;
    justify-content:center;
    padding: 10px;
    margin: auto;
}
.sobreimg{
    width: auto;
    height: 530px ;
    display: block;
    margin: auto;
    position: relative;
    padding-bottom: 5%;
}


h3 {
    font-family: 'Signika', sans-serif;
    line-height: 30px;
    font-style:oblique;
    
}

h4{
    line-height: 25px;
    font-style:normal;
    font-weight: lighter;
}

ul{
    padding: 3%;
    list-style-image: url(./Images/Flaticon\ -\ pequeño.png)
}


/*Página con formulario de contacto*/
form{
    padding: 5% 10% 0% 10%;
}
.form-group {
    margin-bottom: 20px;
    padding: 5px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 75%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } 
  input, text{
    width: 25%;
    height: 25px
  }

/*Iframe Mapa*/
    #map-container {
        position:relative;
        display: flex;
        flex-direction: column;
        width: 350px;
        height: 0;
        padding-bottom: 30%; 
        
        margin: 10%;
    }

    #map {
        position: absolute;
        top: 10%;
        left: 20%;
        width: 90%;
        height: 90%;
    }


/* Estilos generales para otros tamaños de pantalla */
/* ... */
     /* Estilos para dispositivos móviles */
    @media (max-width: 768px) {
        /*Cajas de producto del Index*/

        .box {
            width: 90%;
          }
          .box ul {
            text-align: left;
            margin-bottom: 10px;
            margin-left: 5px;
          }

         /*trabajos */
        .layout-container{
            display: flex;
            flex-direction: column;
            padding: 5px;
        }

        .descripción{
            text-align: justify;
            padding: 3%;
            margin: 0%;
            font-size: 15px;
        }
        .domicilio{
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            padding: 3px;
            width: 100%;
        }

        .artistico{
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            padding: 3px;
            width: 100%;
        }


        .progresión{
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            padding: 3px;
            width: 100%;
        }
        .teatro{
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            padding: 3px;
            width: 100%;
        }

        .producción{
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            padding: 3px;
            width: 100%;
        }

        .fieras{
            display: flex;
            flex-direction: column;
            justify-content:space-evenly;
            padding: 3px;
            width: 100%;
        }


        .slider-item{
            width: 350px;
            height: 350px;
            display: none;
        }

        .carousel-inner {
            display: flex;
            justify-content: center;
            transition: transform 0.5s ease-in-out;
            padding: 0%;
        }
        .slider-item:hover{
            transform:none;
        }
    
        /* grid area de página SObre Mi*/
        .grid-layout{
            display: flex;
            flex-direction: column;
        }

        }

/* Estilos para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
 
 
 
    /*trabajos */


    .layout-container{
        display: flex;
        flex-direction: column;
        padding: 4%;
    }

    .descripción{
        text-align: justify;
        padding: 4%;
        font-size: 15px;
    }
    .domicilio{
        display: flex;
        justify-content:space-evenly;
        padding: 3px ;
        width: 100%;
    }

    .artistico{
        display: flex;
        justify-content: space-evenly;
        padding: 3px;
        width: 100%;
    }


    .progresión{
        display: flex;
        justify-content: space-evenly;
        padding: 3px;
    }
    .teatro{
        display: flex;
        justify-content: space-evenly;
        padding: 3px;
        width: 100%;
    }

    .producción{
        display: flex;
        justify-content: space-evenly;
        padding: 3px;
    }

    .fieras{
        display: flex;
        justify-content: space-evenly;
        padding: 3px;
    }


    .slider-item{
        width: 300px;
        height: 300px;
        display: none;
    }

    .slider-item:hover{
        transform:none;
    }


    /* grid de página SObre MI*/
    .grid-layout{
        display: grid;
        grid-template-areas: 'encabezado encabezado'
                            'sobre foto';
        grid-template-columns: 2fr 1fr;
    }
    

    .encabezado{
        grid-area: encabezado;
        padding: 2%;
        text-align: center;
        width: 100%;
        height: auto;
    }

    .sobre-mi{
    grid-area: sobre;
    padding: 5%;
    text-align:left;
    }
    .foto{
        grid-area: foto;
        display: flex;
        justify-content:center;
        padding: 10px;
        margin: auto;
    }
    .sobreimg{
        width: auto;
        height: 530px ;
        display: block;
        margin: auto;
        position: relative;
    }

        }
        
/* Estilos para pantallas de escritorio */
@media (min-width: 1025px) {
/* Estilos específicos para pantallas de escritorio */
}
